*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('../src/CRUD.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 600px; /* Increased width */
    padding: 30px;
    background-color: #1c1c1c;
    border: 2px solid rgb(0, 98, 255);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    text-align: center;
}

h1 {
    color: #eee;
    margin-bottom: 20px;
}

.form-container {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #eee;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    width: 100%; /* Make input boxes take full width */
    padding: 10px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 2px solid rgb(0, 98, 255);
    border-radius: 30px;
    color: #eee;
    font-size: 16px;
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #00ff88a1;
}

button[type="submit"] {
    padding: 12px;
    background-color: rgb(0, 98, 255);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #00ff88a1;
}
